html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/lora-v26-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lora-v26-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/open-sans-v34-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/open-sans-v34-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

   body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 147px;
  }

 /*header styles*/

  .header{
    position: fixed;
    height: 147px;
    left: 0px;
    right: 0px;
    top: 0px;
    background: rgba(222, 222, 222, 0.5);
    backdrop-filter: blur(10px);
  }

  .header__list{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .header__logo{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 50px;
    top: 0;
  }

  .header__logo-pic{
    display: block;
  }

  .header__item{
    margin-right: 50px;
    margin-top: 61px;
    margin-bottom: 61px;
  }

  .header__link {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    align-items: center;
    text-align: center;
    flex: none;
    order: 0;
    flex-grow: 0;
    color: #1F1E1E;
    text-decoration: none;
  }

  .header__link:hover, .header__link:focus, .header__link:active{
    color: #BC3324;
  }

  .header__login{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: black;
    height: 52px;
    width: 131px;
    text-decoration: none;
  }

 
/*header styles end*/

/*intro style*/

.intro{
    height: 100vh;
    background: url(/img/noise.png), url(/img/header__logo.png) ;
    background-size: cover;
    padding-top: 247px;
}


/*intro style end*/

.main{
    flex: 1 0 auto;
}

.footer{
    flex: 0 0 auto;
}









