html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
   body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 147px;
    font-family: 'Open Sans', sans-serif ;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    color: black;
  }
 /*header styles*/
  .header{
    position: fixed;
    height: 147px;
    left: 0px;
    top: 0px;
    width: 100%;
    background: rgba(222, 222, 222, 0.5);
    z-index: 100;
  }
  @supports (backdrop-filter: blur(10px)){
    .header{ 
    backdrop-filter: blur(10px);
    background: rgba(222, 222, 222, 0.5);}
  }

  .header_container{
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    align-items: center;
    max-width: 1414px;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
  }
  .header_logo{
    flex-shrink: 0;
    width: 202px;
    height: 147px;
    text-decoration: none;
    font-size: 0;
  }
  .header_logo-icon{
    width: 100%;
    height: 100%;
  }
  .header_nav{
    margin: 0 auto;
    display: flex;
    align-items: baseline;
  }
  .header_nav-link{
    margin: 0 25px;
    text-decoration: none;
    font-weight: 600px;
    font-style: 18px;
    line-height: 1.3;
    color: black;
    transition: color 0.2s;
  }
   .header_nav-link:hover{
    color: rgba(188, 51, 36, 1);
   }
   .header_nav-link:active{
    color: rgba(188, 51, 36, 1);
   }
   .maim{
    flex: 0 0 auto;
   }
   .footer{
    flex: 0 0 auto;
   }
   .btn{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 40px;
    border: 1px solid black;
    font-weight: 600px;
    line-height: 1.3;
    text-align: center;
    color: black;
    background-color: transparent;
    text-decoration: none;
    transition: color 0.2s, background-color 0.2s;
   }
   .header_btn:hover, .header_btn:active {
    color:white;
    background-color: black;
   }
   .header_right-block{
    display: flex;
    justify-content: center;
    width: 202px;
   }

   .events{
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1414px;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
   }

   .listing_events-card{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -30px;

   }

   .events-card{
    display: flex;
    margin: 0 30px 120px;
    width: 100%;
    max-width: 405px;
    min-width: 280px;
    width: calc(33.333% - 60px);
   }

   .events-card_link{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-decoration: none;
   }

   .events-card_pic{
    display: block;
    position: relative;
   }

   .events-card_pic::before{
    content: '';
    display: block;
    padding-top: 107.16%;
    width: 100%;
   }

   .events-card_img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

   }

   .events-card_title{
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: black;
   }

   .events-card_txt{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: black;
   }

   .events-card_time{
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: black;
    flex: none;
    order: 5;
    flex-grow: 0;
   }

   .reserve{
    display: grid;
    width: 100%;
    gap: 67px 150px;
    grid-template-columns: 405px calc(89% - 405px);
    grid-template-areas: 
    "checkbox scheme"
    "order legend";
   }

   .reserve_checkbox{
    grid-area: checbox;
    background-color: brown;
   }

   .reserve_scheme{
    grid-area: scheme;
    background-color: blueviolet;
   }

   .reserve_order{
    grid-area: order;
    background-color: chartreuse;
   }
   .reserve_legend{
    grid-area: legend;
    background-color: darkcyan;
   }









 
